@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&family=Nanum+Gothic&family=Orbit&display=swap');
.orbit-regular {
  font-family: "Orbit", serif;
  font-style: normal;
}

.black-han-sans-regular {
  font-family: "Black Han Sans", serif;
  font-weight: 400;
  font-style: normal;
}

.nanum-gothic-regular {
  font-family: "Nanum Gothic", serif;
  font-weight: 400;
  font-style: normal;
}

.jua-regular {
  font-family: "Jua", serif;
  font-weight: 600;
  font-style: normal;
}


.gradio-container .prose {
  overflow: hidden !important;
  white-space: normal !important;
}


#gradio-container {background-color: grey;}
#button {background: #f86368; color: #ffffff;}